<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <script src="https://cdn.tailwindcss.com"></script>-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.quilljs.com/1.3.6/quill.bubble.css">
    <title>Our Cool Project</title>
</head>
<script>
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
    } else {
        document.documentElement.classList.remove('dark')
    }
</script>
<body>

<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo"/>
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
        </a>
        <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <div class="flex gap-3">
                <button id="theme-toggle" type="button"
                        class="py-2 text-gray-500 rounded-lg text-sm">
                    <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor"
                         viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                    </svg>
                    <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor"
                         viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                              fill-rule="evenodd" clip-rule="evenodd"></path>
                    </svg>
                </button>
                <button id="login-cta" type="button" class="hidden text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Login
                </button>

                <button type="button" id="user-menu-button" class="hidden flex self-start text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                        aria-expanded="false">
                    <span class="sr-only">Open user menu</span>
                    <img id="user-avatar" class="w-8 h-8 rounded-full" src="https://i.pravatar.cc/150?img=3" alt="user photo">
                </button>
            </div>
            <!-- Dropdown menu -->
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
                 id="user-dropdown">
                <div class="px-4 py-3">
                    <span id="display-name" class="block text-sm text-gray-900 dark:text-white">Bonnie Green</span>
                    <span id="email-address" class="block text-sm  text-gray-500 truncate dark:text-gray-400">name@flowbite.com</span>
                </div>
                <ul class="py-2" aria-labelledby="user-menu-button">
                    <li>
                        <button class="block px-4 py-2 text-sm text-gray-700 text-left w-full hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                            Dashboard
                        </button>
                    </li>
                    <li>
                        <button class="block px-4 py-2 text-sm text-gray-700 text-left w-full hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                            Settings
                        </button>
                    </li>
                    <li>
                        <button id="sign-out" class="block px-4 py-2 text-sm text-left w-full text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                            Sign out
                        </button>
                    </li>
                </ul>
            </div>
            <button data-collapse-toggle="navbar-user" type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="navbar-user" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                     fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
             id="navbar-user">
            <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a href="#"
                       class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
                       aria-current="page">Home</a>
                </li>
                <li>
                    <a href="#"
                       class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
                </li>
                <li>
                    <a href="#"
                       class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Team</a>
                </li>
                <li>
                    <a href="#"
                       class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="max-w-screen-xl w-full max-w-xl flex flex-wrap justify-center mx-auto p-4">

    <!--<div class="grid grid-cols-3 gap-12">
        <div class="bg-gray-400 row-span-2">row 2 column 1</div>
        <div class="bg-gray-200 col-span-2">
            <p class="text-xl text-black-900 dark:text-black">Get the most out of your neighbourhood with Spotted</p></div>
        <div class="bg-gray-300 col-span-2">It's where communities come together to exchange recommendations, find local traffic updates and read the latest local news. Where neighbours support local businesses and get updates from public services. It's how to get the most out of everything nearby. Welcome to Spotted.</div>
        <div class="bg-gray-400 row-span-2">row 2 column 1</div>
        <div class="bg-gray-500">row 2 column 2</div>
        <div class="bg-gray-600">row 2 column 3</div>
      </div>-->

      <div class="grid grid-cols-2 gap-4">
        <!-- First row -->
        <div class="text-2xl text-gray-900">Get the most out of your neighbourhood with Spotted</div>
        <div class="text-xl text-gray-900">It's where communities come together to exchange recommendations, find local traffic updates and read the latest local news. Where neighbours support local businesses and get updates from public services. It's how to get the most out of everything nearby. Welcome to Spotted.</div>
        
        <!-- Second row -->
        <div class="text-xl text-gray-900"></div>
        <div class="text-xl text-gray-900"></div>
      </div>


</div>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<!-- Provides utility classes -->
<script src="../assets/js/utils.js"></script>
<!-- Provides methods to work with localStorage -->
<script src="../assets/js/persistence-context.js"></script>
<!-- Fetches posts from API and generate sample post data  -->
<script src="../assets/js/posts.js"></script>
<!-- Fetches users from API and generate sample user data  -->
<script src="../assets/js/users.js"></script>
<!-- Fetches locations from API and generate sample location data -->
<script src="../assets/js/locations.js"></script>
<!-- Creates a security context for user authentication  -->
<script src="../assets/js/security-context.js"></script>
<!-- Creates an application to store global variables -->
<script src="../assets/js/application-context.js"></script>
<!-- Enables dark mode for Tailwind/Flowbite  -->
<script src="../assets/js/dark-mode.js"></script>
<!-- Controls modal programmatically  -->
<script src="../assets/js/modal.js"></script>
<!-- Controls user settings menu programmatically -->
<script src="../assets/js/dropdown.js"></script>
<!-- Implements authentication and login validation -->
<script src="../assets/js/login.js"></script>
<!-- Implements location geocoding -->
<script src="../assets/js/resolve-location.js"></script>
<!-- Implements post composition -->
<script src="../assets/js/compose.js"></script>
<!-- Initialises application with sample data -->
<script src="../assets/js/init.js"></script>
<script src="../assets/js/app.js"></script>
</body>
</html>